<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Essayrent"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Pay_history"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.forgot_password"
            android:exported="false" />
        <activity
            android:name=".Activity.Property_tax"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.About_us"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Rent_Payment"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.maintenance_history"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.maintenance_req"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.maintenance_apply"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.rent_details"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.Pay_tax"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.On_Rent_House"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.View_Cat"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".Activity.Profile_View"
            android:exported="true" />
        <activity
            android:name=".Activity.Rental_Dashboard"
            android:exported="true" />
        <activity
            android:name=".Activity.Login_Code"
            android:exported="true" />
        <activity
            android:name=".Activity.Registration"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>